body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background-color: #ef4444; /* Red background */
padding: 1rem;
}

h1 {
font-size: 1.8rem;
margin-bottom: 1.5rem;
color: #ffffff;
}

.styled-hr {
  border: 0; /* Remove the default border */
  height: 4px; /* Set the height of the line */
  background: #fff; /* Set the background color to white */
  color: #fff; /* Set the text color to white (in case there's a default text color) */
  margin-bottom: 2rem;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); Add a subtle shadow for a bold effect */
}

h3 {
color: #ffffff;
}

.order-card {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #ffffff;
padding: 1rem 1.2rem;
border-radius: 90px;
margin-bottom: 1rem;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
transition: transform 0.2s;
text-decoration: none;
color: inherit;
border: 2px dashed black;
}

.order-card:hover {
transform: translateY(-2px);
}

.product-name {
font-size: 1.2rem;
font-weight: 600;
color: #111827;
}

.order-status {
font-size: 0.95rem;
color: #4b5563;
text-align: right;
}

